{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center">  
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position" 
              [label]="label" 
              [title]="title"
              [options] = "markerOptions">
 </map-marker>
 <map-marker [position]="position" 
              [label]="label" 
              [title]="title"
              [options] = "markerOptions">
 </map-marker>
 <map-polygon [paths]="vertices">
</map-polygon>
<map-polygon [paths]="vertices2"
             [options] = 'colorOption'
>
              
</map-polygon>
  <map-circle [center]="position"
              [radius]="50"
              [options] = 'circleOptions'>
  </map-circle>
  <map-circle [center]="wer"
              [radius]="100"
              [options] = 'circleOption2'>
  </map-circle>
  <button (click)="redColor()">Red</button>
  <button (click)="greenColor()">Green</button>
  <button (click)="blueColor()">Blue</button>
</google-map>